
<div class="swib-wrapper">
Ride Stats for the Last {{numberOfDaysToQuery}} Days</br>
{{ numberOfRides}} rides </br>
{{distance}} miles </br>
{{elevation}} ft. climbed</br>
{{ totalTime }} </br>
</div>
